@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Define custom theme overrides
$primary: #5938df;
$secondary: #876bf5; 
$niceblue: #007bff;;
$primary-bg-subtle: #e7fafa;
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
));

// Define custom utility class syntax example:
// .bg-body-primary {
//   background-color: $primary !important;
// }

.modal {
  z-index: 1050;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
}

//  General styling
.container {
  margin-top: 20px;
  position: relative;
 }

 .navbar-trem {
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;

  .navbar-brand {
    color: white;
    background-color: $niceblue;
    margin: 0px;
    padding: 5px 100px 0px 100px;
    border-radius: 10px;

  }
 }

 .row {
   row-gap: 20px;
 }
 
 .form-group {
  margin-bottom: 20px;
}


// Custom form styling
form{
  height: auto;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: $primary 0px 3px 8px;
  margin: 100px auto;
  background-color: white;
}

// 'Note' related styling
.note-metadata {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.note-content {
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  border-color: $primary;
}


// Custom SCSS for action bar - pagination and search bar
.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  
  .action-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: auto;
    width: 60%;
    
    .add-note {
      width: max-content;
      margin-left: 1rem;
    }
  } 
  
  .input-group {
    align-items: center;
  }
  
  .search-bar {
    // width: 50%;
    height: auto;
  }

  .pagination-container {
    justify-content: right;
    align-items: center;
  
    .btn-pagination {
      font-size: 1rem;
      margin: 0 0.25rem;
      border: 1px solid #dee2e6;
      background-color: #fff;
      color: $secondary;
      transition: all 0.3s ease;
  
      &:hover:not(:disabled) {
        background-color: $secondary;
        color: #fff;
        border-color: $secondary;
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
  
      &.active {
        background-color: $secondary;
        color: #fff;
        border-color: $secondary;
      }
    }
  
    .btn-first-last {
      @extend .btn-pagination;
      background-color: #f8f9fa;
    }
  }
}

// Additional styles to make sure text is visible
// .wmde-markdown,
// .wmde-markdown-var,
// .w-md-editor {

//   color: red !important;
//   background-color: white !important;
//   border-color: red !important;
//   // bigger border;
//   border-width: 4px !important;
//   border-radius: 10px !important;
//   box-shadow: 0 0 0 1px #0071{{c1::}}f5 !important;
  
// }
.wmde-markdown,
.wmde-markdown-var,
.w-md-editor {
  margin-top: 10px;
  border-radius: 10px !important;
}
:root * { 
  --color-canvas-default: white !important;
  --color-border-default: #5938df !important;
  --color-fg-default: black !important;
}


// .w-md-editor-preview, .wmde-markdown-var {
//   color: red !important;
//   background-color: white !important;
//   border-color: red !important;
//   // bigger border;
//   border-width: 4px !important;
//   border-radius: 10px !important;
// }

@import "../node_modules/bootstrap/scss/bootstrap.scss"
